/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
	--accent: rgb(90, 200, 250);
	--dark-primary: rgb(34, 39, 46);
	--dark-primary-opaque: rgb(34, 39, 46, 0.9);
}
body {
	font-family: 'Jetbrains Mono', monospace;
	margin: 0;
	padding: 0;
	text-align: left;
	background-color: var(--dark-primary);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: white;
	font-size: 1.1rem;
	line-height: 1.7;
}
main {
	max-width: 48rem;
	margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2rem 0;
	line-height: 1.2;
}
h1 {
	font-size: 1.875rem;
}
h2 {
	font-size: 1.7rem;
}
h3 {
	font-size: 1.5rem;
}
h4 {
	font-size: 1.4rem;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1rem;
}
.prose a {
	text-decoration-style: dashed;
}
.prose a:hover {
	text-decoration-line: underline;
}
.prose p {
	margin-bottom: 2rem;
}
.prose ul {
	margin: 2rem 1rem;
	list-style-type: disc;
}
.prose ol {
	margin: 2rem 2rem;
	list-style-type: decimal;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 5px 2px;
	background-color: #646464;
	border-radius: 2px;
}
pre {
	padding: 1.5rem;
	margin-bottom: 2rem;
	border-radius: 8px;
	max-height: 48rem;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.1em;
}
hr {
	border: none;
	border-top: 1px solid white;
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
.text-accent {
	color: var(--accent);
}
.hover\:text-accent:hover {
	color: var(--accent);
}
.text-dark-primary {
	color: var(--dark-primary);
}
.hover\:text-dark-primary:hover {
	color: var(--dark-primary);
}
.bg-dark-primary {
	background-color: var(--dark-primary);
}
.bg-accent {
	background-color: var(--accent);
}