---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  // Show active when on individual tag page, blog post
  href && pathname.startsWith(href.toString());
---

<a
  href={href}
  class:list={[
    className,
    isActive && "underline underline-offset-6 decoration-2",
  ]}
  {...props}
>
  <slot />
</a>
