---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
  posts: CollectionEntry<"blog">[];
}
const { posts } = Astro.props;
---

<ul>
  {
    posts.map(({ data, id }) => (
      <li class="my-6 text-base">
        <a class="flex justify-between" href={`/posts/${id}/`}>
          <div class="text-xl decoration-dashed hover:underline">
            {data.title}
          </div>
        </a>
        {data.draft && <div class="text-red">(DRAFT)</div>}
        <div class="date">
          <FormattedDate date={data.pubDate} />
        </div>
        <div>
          <i>{data.description}</i>
        </div>
      </li>
    ))
  }
</ul>