---
interface Props {
  class?: string;
  count: number;
  name: string;
}

const { class: className, count, name } = Astro.props;
---

<a
  href={`/tags/${name}`}
  class:list={[
    className,
    "inline-flex items-center text-sm border border-white",
    "rounded-md leading-none text-white hover:bg-white",
    "hover:text-dark-primary",
  ]}
>
  <div class="p-2">#{name}</div>
  {
    count > 1 && (
      <div class="p-2 ml-1 border-white border-l-1 h-full">{count}</div>
    )
  }
</a>
